@model QLTHUETRO_BAOOANH.Models.BIENBANSUCO

<style>
    body {
        background-color: #c9c9c9
    }
</style>
@{
    ViewBag.Title = "Xóa biên bản";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<center>
    <h3 style="color:red">Bạn có chắc chắn muốn xóa biên bản sự cố này?</h3>
    <div>
        <table border="1" cellpadding="0" cellspacing="0" style="font-size:14px;background-color:#fff">
            <tr>
                <td style="padding: 20px;">
                    <table cellpadding="2" cellspacing="10">
                        <caption style="color:black;text-align:center"><b>THÔNG TIN CHI TIẾT</b></caption>
                        <tr>
                            <td>Số biên bản:</td>
                            <td style="padding-left: 10px;">@Html.DisplayFor(model => model.SoBB)</td>
                        </tr>
                        <tr>
                            <td>Ngày lập:</td>
                            <td style="padding-left: 10px;">@string.Format("{0:dd/MM/yyyy}", Model.NgayLap)</td>
                        </tr>
                        <tr>
                            <td>Lý do:</td>
                            <td style="padding-left: 10px;">@Html.DisplayFor(model => model.LyDo)</td>
                        </tr>
                        <tr>
                            <td>Loại sự cố:</td>
                            <td style="padding-left: 10px;">@Html.DisplayFor(model => model.SUCO.TenSC)</td>
                        </tr>
                        <tr>
                            <td>Hình thức xử lý:</td>
                            <td style="padding-left: 10px;">@Html.DisplayFor(model => model.HinhThucXuLy)</td>
                        </tr>
                        <tr>
                            <td>Khách vi phạm:</td>
                            <td style="padding-left: 10px;">@Html.DisplayFor(model => model.KHACHHANG.HoTen)</td>
                        </tr>
                        <tr>
                            <td>Phòng:</td>
                            <td style="padding-left: 10px;">@Html.DisplayFor(model => model.PHONGTRO.MaPT)</td>
                        </tr>
                        <tr>
                            <td>Người lập biên bản:</td>
                            <td style="padding-left: 10px;">@Html.DisplayFor(model => model.NHANVIEN.HoTenNV)</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color" style="margin-top:20px">
                <input style="background-color:#212925;color:#ffd800" type="submit" value="Xóa" class="btn btn-default" /> |
                @Html.ActionLink("Trở về", "Index")
            </div>
        }
    </div>

</center>

