@model QLTHUETRO_BAOOANH.Models.PHIEUTHUTIEN

@{
    ViewBag.Title = "Tạo phiếu thu";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<center><h2>TẠO PHIẾU THU MỚI</h2></center>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group" style="margin-left:250px">
            @Html.LabelFor(model => model.SoPhieu,"Số phiếu", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.SoPhieu, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SoPhieu, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="margin-left:250px">
            @Html.LabelFor(model => model.NgayThu,"Ngày thu", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.NgayThu, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NgayThu, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="margin-left:250px">
            @Html.LabelFor(model => model.ThangCanThu,"Tháng cần thu", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.ThangCanThu, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ThangCanThu, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="margin-left:250px">
            @Html.LabelFor(model => model.TienThue,"Tiền phòng", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.TienThue, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TienThue, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="margin-left:250px">
            @Html.LabelFor(model => model.TienDien,"Tiền điện", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.TienDien, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TienDien, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="margin-left:250px">
            @Html.LabelFor(model => model.TienNuoc,"Tiền nước", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.TienNuoc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TienNuoc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="margin-left:250px">
            @Html.LabelFor(model => model.TrangThai,"Trạng thái phiếu", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.TrangThai, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TrangThai, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="margin-left:250px">
            @Html.LabelFor(model => model.MaKH, "Khách thuê", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.DropDownList("MaKH", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MaKH, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="margin-left:250px">
            @Html.LabelFor(model => model.MaNV, "Người thu", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.DropDownList("MaNV", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MaNV, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="margin-left:250px">
            @Html.LabelFor(model => model.MaPT, "Phòng được thu", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.DropDownList("MaPT", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MaPT, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="margin-left:250px">
            <div class="col-md-offset-2 col-md-5">
                <input style="background-color:#212925;color:#ffd800" type="submit" value="Tạo phiếu" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div style="margin-left:420px">
    @Html.ActionLink("Trở về", "Index")
</div>
