@model QLTHUETRO_BAOOANH.Models.NHANVIEN

    @{
        ViewBag.Title = "Thông tin nhân viên";
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
        string gtinh = "";
    }

    <h2 style="text-align:center;color:#282222">THÔNG TIN CHI TIẾT CỦA NHÂN VIÊN</h2>

    <div class="col-sm-6 col-lg-6 col-md-6">
        <div>
            <img alt="@Model.MaNV" src="~/images/people/@Model.AnhNV" style="margin-left:50px;width:550px;height:550px;border:1px solid rgba(0,0,0,0.19)" />
        </div>
    </div>
    <div class="col-sm-6 col-lg-6 col-md-6">
        <table border="1" cellpadding="0" cellspacing="0" style="font-size: 14px; margin-left: 50px">
            <tr>
                <td style="padding: 20px;font-size:18px">
                    <table cellpadding="2" cellspacing="3">
                        <tr>
                            <td>Mã nhân viên:</td>
                            <td style="padding-left: 20px;">@Html.DisplayFor(model => model.MaNV)</td>
                        </tr>
                        <tr>
                            <td>Họ tên nhân viên:</td>
                            <td style="padding-left: 20px;">@Html.DisplayFor(model => model.HoTenNV)</td>
                        </tr>
                        <tr>
                            <td>Giới tính:</td>
                            <td style="padding-left: 20px;">
                                @{if (Model.GioiTinhNV == true)
                                    { gtinh = "Nam"; }
                                    else
                                    { gtinh = "Nữ"; }
                                }
                                @gtinh
                            </td>
                        </tr>
                        <tr>
                            <td>Ngày sinh:</td>
                            <td style="padding-left: 20px;">@string.Format("{0:dd/MM/yyyy}", Model.NgaySinhNV)</td>
                        </tr>
                        <tr>
                            <td>Địa chỉ:</td>
                            <td style="padding-left: 20px;">@Html.DisplayFor(model => model.DiaChiNV)</td>
                        </tr>
                        <tr>
                            <td>Số điện thoại:</td>
                            <td style="padding-left: 20px;">@Html.DisplayFor(model => model.SdtNV)</td>
                        </tr>
                        <tr>
                            <td>Số CMND:</td>
                            <td style="padding-left: 20px;">@Html.DisplayFor(model => model.SoCMND)</td>
                        </tr>

                    </table>
                </td>
            </tr>
        </table>
        <p style="margin-top: 30px; margin-left: 50px">
            @Html.ActionLink("Cập nhật", "Edit", new { id = Model.MaNV }) |
            @Html.ActionLink("Quay lại", "Index")
        </p>
    </div>
